# Ignore
/trkgnn/apply.link.rec
/trkgnn/apply.momentum.rec.0p999
/trkgnn/Tracker_GNN
/trkgnn/output.link.rec
/trkgnn/output
/trkgnn/output.momentum.rec
/trkgnn/log
/trkgnn/log/*.log
/trkgnn/log/*.err
/trkgnn/log/*.out
/trkgnn/fig
new_data/apply.link.rec/apply_0.log
new_data/apply.link.rec/DigitizedRecTrk/*.pt
new_data/output/DigitizedRecTrk/*.pt
/log_all
/trkgnn/run/New_Net_all_for_each/500/output_test/DigitizedRecTrk
/trkgnn/run/New_Net_all_for_each/apply.link.rec
/trkgnn/run/single_200_repeat
/new_data
trkgnn/env/
trkgnn/Train_root/
trkgnn/Train_root_copy/
trkgnn/apply_200.link.rec.0p999/
trkgnn/output_single_200/
trkgnn/run/