# Ignore
/trkgnn/apply.link.rec
/trkgnn/apply.momentum.rec.0p999
/trkgnn/Tracker_GNN
/trkgnn/output.link.rec
/trkgnn/output
/trkgnn/output.momentum.rec
/trkgnn/log
/trkgnn/log/*.log
/trkgnn/log/*.err
/trkgnn/log/*.out
/trkgnn/fig
new_data/apply.link.rec/apply_0.log
new_data/apply.link.rec/DigitizedRecTrk/*.pt
new_data/output/DigitizedRecTrk/*.pt
/log_all
